@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Fraunces:opsz,wght@9..144,400;9..144,700&display=swap");
:root {
  --primary-color: #ff422e;
  --secondary-color: #a33327;
  --accent1-color: #689775;
  --accent2-color: #ca8e7b;
  --heading-font: "Fraunces", serif;
  --paragraph-font: "Commissioner", sans-serif;
  --headline-color-on-white: #ca8e7b;
  --headline-color-on-color: #ff422e;
  --paragraph-color-on-white: #ff422e;
  --paragraph-color-on-color: #689775;
  --paragraph-background-color: black;
  --nav-link-color: black;
  --nav-hover-link-color: #ca8e7b;
  --nav-background-color: #ca8e7b;
  --nav-hover-background-color: black;
}

body {
  margin: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--accent2-color);
  padding: 30px 0;
}

.logo img {
  height: 120px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
/* END The Overlay CSS */

/* Menu animated */
.container {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* END menu animated */
.links a,
footer a {
  transition: all 0.7s;
  text-decoration: none;
  padding: 25px;
  color: var(--nav-link-color);
}

.links a:hover,
footer a:hover {
  border-radius: 12px;
  color: var(--nav-hover-link-color);
  background-color: black;
}

.logo {
  grid-column: 1 / span 2;
  justify-self: center;
}

.links {
  grid-column: 3 / span 3;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

a,
p {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
}

p,
h1,
h2,
h3 {
  color: var(--paragraph-color-on-color);
}

.introduction {
  background-color: black;
}

.introduction p {
  width: 80%;
  margin: auto;
  padding: 25px 0px;
}

.services {
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px 1fr;
  column-gap: 15px;
}

.services__title {
  text-align: center;
  margin: 0;
  padding: 0;
  grid-column: 1 / span 3;
  align-self: center;
}

.services__service {
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  text-align: justify;
}

.services__service p {
  padding: 0 20px;
}

.services img {
  max-width: 100%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

/* About */

.about {
  text-align: center;
  background-color: var(--paragraph-background-color);
  padding: 10px;
}

.studies_section {
  text-align: center;
}

.wrapper_studies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  background-color: black;
}

.wrapper_studies__section {
  width: 30%;
}

.wrapper_studies__section--w100 {
  width: 100%;
}

.wrapper_studies__section--skill {
  width: 80%;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--accent1-color);
}

.wrapper_studies__section--skill ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.wrapper_studies__section--skill ul li {
  margin: 3px 0px;
}

.about img {
  height: 300px;
  max-width: 100%;
}
/*End About*/

/* FAQ */

.heroSection {
  text-align: center;
  margin-bottom: 10px;
}

.heroSection img {
  max-width: 100%;
  width: 300px;
  margin: auto;
}

summary {
  border: 4px solid transparent;
  outline: none;
  padding: 1rem;
  display: block;
  background: #444;
  color: white;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
}

details {
  background-color: var(--accent1-color);
  width: 600px;
  max-width: 100%;
  margin: auto;
  margin-bottom: 10px;
}
details summary::-webkit-details-marker {
  display: none;
}
details[open] > summary:before {
  transform: rotate(90deg);
}

.content {
  border-top: none;
  padding: 10px;
  border-top: none;
  max-height: 0px;
  transition: 1.5s max-height ease;
}

details[open] > .content {
  max-height: 200px;
}
summary:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details p {
  padding: 10px;
  color: white;
  background-color: var(--accent2-color);
}

/* END FAQ */
footer {
  background-color: var(--accent1-color);
  text-align: center;
  padding: 25px 0px;
}

footer h2 {
  margin-top: 0;
  padding-top: 10px;
  color: white;
}

.link_footer {
  margin-top: 30px;
}

footer p {
  color: white;
}

footer a {
  color: var(--nav-link-color);
}

@media screen and (max-width: 900px) {
  .header nav {
    display: none;
  }

  .logo {
    grid-column: 3 / span 2;
  }
  .logo img {
    border-radius: 20%;
  }
  .container {
    display: inline-block;
    align-self: center;
    justify-self: end;
    margin-right: 20%;
  }
  .overlay {
    display: initial;
  }
  .services {
    display: flex;
    flex-direction: column;
  }

  .services__service p {
    width: 80%;
  }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
